body {
    font-family: Georgia;
    aspect-ratio: 960/540;
    width: 100%;
    background-size: cover;
    background-image: url(./stacked-waves-haikei\(1\).svg);
    min-height: 100vh;
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: white;
}

h2{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: black;
}

p{
    font-family: 'Georgia';
    font-size: 30px;
}

.account-info {
    display: block;
    margin-bottom: 20px;
}

.card {
    background: rgba(255, 205, 162, 0.7);
    position: relative; 
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 50px auto;
    width: 90%; /* Make it responsive */
    max-width: 400px; /* Limit max width */
    text-align: center;
    height: auto; /* Allow height to adjust based on content */
    flex-direction: column;
    align-items: center;
}

.delete-account {
    margin-top: 20px;
    font-family:'Georgia';
}

.delete-account button {
    width: 50%; 
    padding: 12px; 
    background-color: rgba(0, 0, 128, 0.6); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; /* Add transition for effects */
}

.delete-account button:hover {
    background-color: rgba(0, 0, 128, 0.8); /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

.delete-account button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

#backButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure it is above other elements */
    padding: 13px;
    background-color: rgba(0, 0, 128, 0.4);
    border-radius: 10px;
    cursor: pointer;
    border-color: #2eb ;
    color: white;

}


#backButton:hover {
    background-color: rgba(0, 0, 128, 1);
}


.class-code-management{
    border: solid;
    border-color: white;
    border-radius: 10px;
    font-family:'Georgia';
    
}

.class-code-management button{
    border-radius: 5px;
    width: 35%;
    margin: 5px;
    background-color: rgba(0, 0, 128, 0.4); 
    font-size: 90%;
    padding: 3px;
    color: white;
    
}

.class-code-management ::placeholder{
    color: grey;
    font-family:'Georgia';
    font-size: 100%;
}

.class-code-management button:hover{
    background-color: rgba(0, 0, 128, 0.6);
    color: white;
    cursor: pointer;
}   
